@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --background: url(img/point.jpg) no-repeat center/cover;
}

html {
    font-family: 'Poppins', sans-serif;
}

header {
    width: 65%;
    height: 75vh;
    /* border: 1px solid black; */
    margin: auto;
    transition: .3s linear;
}

header  nav {
    width: 100%;
    height: 8%;
    margin: 5px auto;
    /* border: 1px solid #000; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav .right-bx {
    display: flex;
    align-items: center;

}
header nav .right-bx  ul{
   list-style-type: none;
   display: flex;
   align-items: center;

}

header nav .right-bx  ul li{
    padding: 3px 15px;
 
 }

 header nav .right-bx ul li:nth-last-child(1){
    border: 1px solid grey;
    border-radius: 20px;
    padding: 2.5px 20px;
 
 }

 header nav .right-bx ul li:nth-last-child(1) a{
    color: black;
 }

header nav .right-bx  ul li:nth-last-child(1) a:hover {
    color: gray;
 }

 header nav .right-bx  ul li a{
    text-decoration: none;
    color: gray;
    font-size: 15px;
    font-weight: 500;
    transition: .3s linear;
 
 }

 header nav .right-bx  ul li a:hover{
color: black;
 }


 .account-bx  {
    display: flex;
    align-items: center;
    margin-right:24px ;
   

 }


 .account-bx i  {
    margin-left:10px;
     color: gray;
     cursor: pointer;
     transition: .3s linear;

 }


 .account-bx i:hover{
   color: black;
 }


 header .content {
    position: relative;
    width: 100%;
    height: 92%;
    /* border: 1px solid black; */
    z-index: 5;
 }

 header .content::before{
   content: " ";
   position: absolute;
   width: 100%;
   height: 83%;
    background: var(--background);
  background-position-y: -60px;
  transform: scaleX(-1);
  border-radius: 10px;
  z-index: -1;
 }

 .content .cont-box {
    width: 500px;
    height: auto;
    color: black;
    padding: 50px;
    
 }

.content .cont-box  h1{
   font-size: 55px;
   line-height: 45px;
   font-weight: 600;
 }

 .content .cont-box  p{
    font-size: 13px;
    font-weight: 600;
    color: rgb(41, 40, 40);
    margin-top: 10px;

  }

  .weather {
    margin-top: 50px;

  }

  .weather h6 {
    color:rgb(64, 64, 64);
    font-size: 11px;
    font-weight: 600;
  }

  .weather span {
    margin-left: 5px;

  }

  .btns-cont {
    margin-top: 10px;

  }

  .btns-cont i {
    border: 1px solid gray;
    padding: 2px 3.3px;
    border-radius: 50%;
    cursor: pointer;
    transition: .3s linear;
    
  }


  .btns-cont i:hover {
    color: black;
    background-color: rgb(0, 0, 0, .1);

  }

  header .images-bx {
    position: absolute;
    right: 20px;
    top: 40px;
    /* border: 1px solid grey; */
    width: 50px;

  }

  .images-bx .card {
    position: relative;
    width: 100%;
    height: 50px;
    margin-top: 10px;
    background: rgb(237, 237, 237, .3);
    padding: 5px;
    border-radius: 8px;
  }

  .images-bx .card img {
    height: 100%;
    width: 100%;
   
}

.images-bx .card h6 {
   
    position: absolute;
    top: 15px;
    font-size: 14px;
    left: 15px;
    color: white;
   
}

.choose_box {
    position: relative;
    width: 90%;
    height: auto;
    margin: auto;
    /* border: 1px solid black; */
    
}
header .stay_bx {
    display: flex;
    align-items: center;
}


header .stay_bx button {
   padding: 10px 30px ;
   background-color: black;
   color: white;
   border: none;
   outline: none;
   font-family: 'poppins',sans-serif;
   cursor: pointer;
   transition: .3s linear;
}


header .stay_bx button:hover {
    background: white;
    color: black;
} 


header .stay_bx button:nth-child(1) {
   border-radius: 10px 0px 0px 0px;
   background: white;
   color:black
} 


header .stay_bx button:nth-last-child(1) {
    border-radius: 0px 10px 0px 0px;
    
 } 


 header .stay_bx button i {
    margin-right: 4px;

 
 }


 header .select {
    width: 100%;
    height: 155px;
    background: white;
    border-radius: 0px 10px 10px 10px ;
    position: relative;
    padding: 5px 20px;
    box-shadow: 0px 5px 20px -10px rgb(214, 214 , 214);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -5px;
 }


 header .choose_box  .select .card {
        width: 26%;
        height: 90%;
        border: 2px solid rgb(226, 226, 226,.7);
        border-radius: 10px;
        padding: 10px 0px 10px 30px;
 }

 header .choose_box  .select .card:nth-last-child(1) {
        width: 46%;


}


header .choose_box  .select .card h5 {
    font-size: 16px;
    font-weight: 500;
}

header .choose_box  .select .card input {
    border: none;
    outline: none;
    margin-top: 5px;
    font-size: 15px;
    font-weight: 700;
    background: none;
    font-family: 'poppins',sans-serif;
}

header .choose_box  .select .card input:nth-child(3){
    font-size: 12px;
    font-weight: 500;
    color: gray;

}

header .choose_box  .select .card button {
 border: none;
 background:none;
 outline: none;
 margin-right: 20px;
 margin-top: 5px;
 font-family: 'poppins',sans-serif;
    cursor: pointer;
    transition: .3s linear;    
}

header .choose_box  .select .card button:hover {
    border-bottom: 2px solid rgb(237, 237, 237,.3);
   }



   header .choose_box  .select .card:nth-child(3){
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
   }

   header .choose_box  .select .card:nth-child(3) .date{
    position: relative;
    display: flex;
    align-items: center;
    /* border: 1px solid black; */

   }


   header .choose_box  .select .card:nth-child(3) .date input {
    width: 25px;
    height: 30px;
    margin-left: 10px;
    z-index: 99999999999999999999;
    opacity: 0;
   }


   
   header .choose_box  .select .card:nth-child(3) .date i {
    position: absolute;
    left: 80%;
    font-size: 20px;
    z-index: -1;

   }

   header .choose_box  .select .card:nth-child(3) .date h3 {
    width: 120px;

   }

   header .choose_box  .select .card:nth-child(3) .date h5 {
    font-size: 13px;
    font-weight: 600;
   }

   .map {
    position: relative;
    width: 100%;
    height: 520px;
    /* border: 1px solid black; */
    top: -130px;
    overflow: hidden;
    z-index: 0;
   }


   .map iframe {
    height: 500px;
    opacity: .8;
   }

   .map::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 10%;
    background: linear-gradient(0deg , transparent, white);
    top:0;
    left: 0;
    z-index: 2;
   }


   .map::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 10%;
    background: linear-gradient(180deg , transparent, white);
    bottom:0;
    left: 0;
    z-index: 2;
   }


   .map .address_bx {
    position: absolute;
    width: 240px;
    height: 65px;
    background: white;
    box-shadow: 4px 4px 25px gray;
    border-radius:  8px;
    padding: 0px 20px;
    top: 44%;
    left: 30%;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
   }

   .map .address_bx i {
        font-size: 25px;
        font-weight: bold;
   }


   .Home {
    position: relative;
    width: 65%;
    height: 230px;
    margin: auto;
    /* border: 1px solid black; */
    top: -220px;
    z-index: 2;
   }


   .Home .title_btn {
    display: flex;
    align-items: center;
    justify-content: center;
   }

   .Home .title_btn  button {
    position: absolute;
    right: 0;
    padding: 8px 15px ;
    border: none;
    outline: none;
     font-family: 'poppins',sans-serif;
     font-weight: 600;
     font-size: 12px;
     cursor: pointer;
     transition: .3s linear;

    background: white;
    color: black;
    box-shadow: 3px 3px 25px rgb(233 , 233 , 233);
   }

   .Home .title_btn  button:hover {

    background: black;
    color: white;
    border-radius: 8px;
   }


   .Home .title_btn  button i {
    margin-left: 5px;

   }

   .Home .home-box  {

    width: 100%;
    margin-top: 50px;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-between;

   }

   .Home .home-box .card {
        position: relative;
        width: 180px;
        height: 260px;
        border-radius: 15px;
        /* border: 1px solid red; */
  
    }


   .home-box .card img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
   }  

   .home-box .card .Content {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    z-index: 999;
   }
 
   .home-box .card .Content i {
    position: absolute;
    right: 15px;
    top:10px;
    color: white;
   }


   .home-box .card .Content i::after{
        content: "";
        position: absolute;
        width: 165%;
        height: 110%;
        background: rgb(194 , 194, 194  ,.3);
        left: -35%;
        top: -3px;
        border-radius: 50%;
        z-index: -1;
   }  

 .home-box .card .Content .cont {

    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20%;

}

.home-box .card .Content .cont::before {
content: '';
height: 100%;
width: 100%;
position: absolute;
background: rgb(245,245,245,.1);
    backdrop-filter: blur(5px);
    border-radius: 0px 0px 13px 13px;
    z-index: -1;
}


.home-box .card .Content .cont h4 {
    color: white ;
    padding: 10px 0px 0px 15px;
    line-height: 7px;
}


.home-box .card .Content .cont P {
    color: white ;
    padding: 10px 0px 0px 15px;
  font-size: 12px;
}

section {
    position: relative;
    width: 65%;
    height: auto;
    /* border: 1px solid black; */
    margin: auto;
}

section h2 {
    text-align: center;
}


section .box {
    width: 100%;
    margin: auto;
    margin-top: 50px;
    display: flex;
}

section .box .img_bx , .cont_bx {
    width: 50%;
    height: 100%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
}

section .box .img_bx img {
    width: 68%;
    border-radius: 5px;
 
}

section .box .cont_bx {
    flex-direction: column;
    align-items: flex-start;
} 

section .box .cont_bx h6 {
    position: relative;
    
}

section .box .cont_bx h6 span{
    margin-left: 25px;
      
  }

section .box .cont_bx h6::before {
   content: '';
   position: absolute;
   width: 20px;
   height: 1.5px;
   background: rgb(136,136,136);
   top:7px;
    
}


section .box .cont_bx h1 {
    font-weight: 600;
    margin: 10px 0px;
}


section .box .cont_bx p { 
        font-size: 12px;
}

section .box .cont_bx ul {
    list-style-type: none;
    flex-wrap: wrap;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


section .box .cont_bx ul li {
    position: relative;
    font-size: 13px;
    font-weight: bold;
    width: 200px;
    /* border: 1px solid black ; */
    margin-top: 20px;

}

section .box .cont_bx ul li::before {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: skyblue;
  border-radius: 50%;
  left: -20px;
  top:8px

}


footer {
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    margin-top: 50px;


}


footer h4 {
    color: white;
}


footer h4 i {
    color: white;
    margin-right: 5px;
}

